table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #040404;
		width: 50%;
    margin-top: 20px;
    margin-left: 25%;
		box-shadow: 0 0 5px rgba(0, 161, 27, 0.1);
  }
  
  /* Estilo de las filas impares */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    border: 1.5px solid #040404;
  }
  
  /* Estilo de las filas pares */
  tbody tr:nth-child(even) {
    background-color: #fff;
    border: 1.5px solid #040404;
  }
  
  /* Estilo de los encabezados de columna */
  thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  /* Estilo de las celdas */
  td {
    padding: 10px;
  }
  
  /* Efecto de transición al pasar el cursor sobre las filas */
  tbody tr:hover {
    background-color: #dddddd;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto de transición al hacer clic en las filas */
  tbody tr.active {
    background-color: #a9a9a9;
    transition: background-color 0.3s ease;
  }

  h1 {
    text-align: center;
	margin-top: 30px;
	color: #000000;
	text-shadow:  rgba(2, 32, 138, 0.776) -2px 4px;
	font-size: 200%;
	font-display: auto;
	font-family: 'Work Sans', sans-serif;
  }